{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
        "module-resolver",
        {
            "root": ["./"],
            "alias": {
                "@app": ".",
                "@api": "./api",
                "@components": "./components",
                "@containers": "./containers"
            }
        }
    ]
]
}
